[Desktop Entry]
Version=1.0
Name=LibreWolf
Comment=LibreWolf Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=~/AppImages/LibreWolf-91.0.1-1.x86_64.AppImage
Terminal=false
Type=Application
Icon=~/AppImages/logo.png
Categories=Application;Network;WebBrowser;Internet;
StartupNotify=true
