[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[E4A3001AA2FFEF44]
row=3
col=0

[0d19fbf2-45f4-4e69-9b8c-de4f4f98f120]
row=4
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/jamesc]
row=1
col=0

